*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family:Roboto,Arial, Helvetica, sans-serif;
}
.quiz-header{
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quiz-intro-section{

    margin:3% auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width:60%;
}

.quiz-intro-section > *{
    margin: 1%;
    padding: 1%;
} 

/*Style class to hide and show the sections*/

.hide-section{

    display: none;
}

/*Styling for the quiz-section*/

.show-section{
    display: block; 
    margin: 1% auto;
    padding: 5%;
    
}
.show-section ol{
    padding-top: 2%;
}

.show-section ol > li{

   margin: 1%;
   padding: 3%;
   border-radius: 100px;
   background-color: antiquewhite;
   list-style-position: inside;
   
}

/*To DO:Style the list*/
.show-section ol > li:hover{

   
}

/*TO DO: STyle feedback section*/

/**/

.game-over-section h2{

    text-align: center;
}

/*Highscore Page Styling*/

.highscore{

    background-color: #d5f5f5;
    
}

/*Generic Style for button*/
button{

    background-color:#71a8a7;
    outline: none;
    border: none;
    border-radius: 100px;
    margin-right: 2%;
    padding: 1% 5%;
}


.score-section{ 
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start; 
    margin: 5% auto;
}

.score-section > *{

    margin-bottom: 3%;
    }



.score-section ol{

    list-style-position: inside;
    
    
}
.score-section ol >li{
   padding: 12px;

}

.score-section ol >li:hover{
    background-color:#71a8a7;
 
 }


.button-div{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    
}
