*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --tan:#f5e1d5;
    --teal:#71a8a7;
    --light-teal:#d5f5f5;
    --brown:#a88f82;
}
body{

    font-family:Roboto,Arial, Helvetica, sans-serif;
    background-color: var(--tan);
    padding-top: 2%;
    font-size: 18px;

}

/*Styling Quiz Header Section*/


#highscore-link a{
    color: #000;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    background-color:var(--teal) ;
    border-radius: 100px;

}

.quiz-header{
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-header  h2{

   color:var(--teal);
}

/*Styling Quiz Introduction Section*/

.quiz-intro-section{

    margin:3% auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width:60%;
}

.quiz-intro-section > *{
    margin: 1%;
    padding: 1%;
} 

/*Style class to hide and show the sections*/

.hide-section{

    display: none;
}

/* Style for buttons*/
#clear-button,#back-button,.quiz-intro-section button,#score-submit-btn{

    background-color:var(--teal);
    outline: none;
    border: none;
    border-radius: 100px;
    margin-right: 2%;
    padding: 1% 5%;
    cursor: pointer;
}




/*Styling for the quiz-section*/

.show-section{
    display: block; 
    margin: 1% auto;
    padding: 5%;
    
}
.show-section ol{
    padding-top: 2%;
}

.show-section ol > li{

   margin: 2%;
   padding: 2%;
   border-radius: 100px;
   background-color: var(--teal);
   opacity: 0.9;
   list-style-position: inside;
   cursor: pointer;
   
}

/*Style for Feedback Section */

#feedback-heading{

    color:#888;
    padding: 1% 2%;
}

/*Style for Game Over Section*/

.game-over-section{
    width: 80%;
    margin-top: 0;
    padding-top: 2%;
}


.game-over-section  > *{
    padding-bottom: 2%;
}

/*Highscore Page Styling*/

.highscore{

    background-color:var(--light-teal);
    
}


.score-section{ 
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start; 
    margin: 5% auto;
}

.score-section > *{

    margin-bottom: 3%;
    }


.score-section ol{

    list-style-position: inside;
    
    
}
.score-section ol >li{
   padding: 12px;

}

.score-section ol >li:hover{
    background-color:var(--teal);
 
 }


.button-div{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    
}
